.header
{
    position: relative;
    background-color:rgb(63, 63, 63);
    height: 120px;
    width: 100%;
    top: 0;
}
.logo
{
    font-family: 'Rubik', sans-serif;
    font-size: medium;
    position: absolute;
    left: 60px;
    margin: 0 auto;
    color: rgb(255, 255, 255);
}

body
{
    margin: 0;
}
.container
{
    position: absolute;
    top: 30%;
    width: 100%;
}
.content
{
    margin: 0;
    padding: 0;
    min-height: calc(100vh - 240px);
}
.footer
{
    position: relative;
    background-color:rgb(63, 63, 63);
    height: 120px;
    width: 100%;
}
#writer
{
    font-family: 'Rubik', sans-serif;
    position: absolute;
    font-size: medium;
    
    margin: 0 auto;
    color: rgb(255, 255, 255);
    right: 10%;
}

.task a
{
    
    font-family: 'Rubik', sans-serif;
    color: rgb(32, 32, 32);
    font-size: 25px;
    text-decoration: none;
    
    padding: auto auto;
}
.task{
    margin: 10px;
    margin-left: 5%;
}
.task a:hover{
    color: rgb(126, 126, 126);
}