.containerElem {
  width: 600px;
  height: 300px;
  position: absolute;
  top: 62%;
  left: 28%;
}

#textContainer {
  width: 600px;
  height: 100px;
  position: absolute;
  top: 30%;
  left: 31%;
}

#taskText {
  position: absolute;
  font-family: "Rubik", sans-serif;
  font-size: 25px;
  color: white;
  text-shadow: 0px 5px 39px rgb(255, 255, 255);
}

#text{
  cursor: pointer;
  position: relative;
  left: 35%;
  width: fit-content;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  color: #00ff04;
  text-shadow: 0px 5px 39px #00ff04;
}

.name {
  position: relative;
  top: 25%;
  left: 5%;
}