.containerElem
{
  position: absolute;
  top: 25%;
  left: 10%;
}

.elem1{
    position: relative;
    font-family: "Rubik", sans-serif;
    color: #ff2424e3;
    font-size: 50px;
    text-decoration: none;
    padding: 5px;
}
.elem11{
    position: relative;
    font-family: "Rubik", sans-serif;
    color: #ff9742e3;
    font-size: 50px;
    text-decoration: none;
    padding: 5px;
}
.elem1:hover{
    cursor: default;
    color: rgb(126,126,126);
}
