.containerElem
{
  position: absolute;
  top: 25%;
  left: 10%;
}

.elem1{
    position: relative;
    font-family: "Rubik", sans-serif;
    color: #74ff4ae3;
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
}

.elem11{
    position: relative;
    font-family: "Rubik", sans-serif;
    color: #ff3131e3;
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
}

.elem1:hover{
    cursor: default;
    color: rgb(126,126,126);
}

.elem2{
    position: relative;
    font-family: "Rubik", sans-serif;
    color: #ffd000e3;
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
}

.elem2:hover{
    cursor: default;
    color: rgb(126,126,126);
}

.elem3{
    position: relative;
    font-family: "Rubik", sans-serif;
    color: #ea00ffe3;
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
}

.elem3:hover{
    cursor: default;
    color: rgb(126,126,126);
}

.elem4{
    position: relative;
    font-family: "Rubik", sans-serif;
    color: #5b5dffe3;
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
}

.elem4:hover{
    cursor: default;
    color: rgb(126,126,126);
}